* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url(images/mpl-s7-bg-lv.jpg);
  background-size: cover;
  background-position: center;
  font-family: "KdamThmorPro", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
}

.logo {
  width: 200px;
}

nav {
  position: fixed;
  background-color: #1d2351;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  color: #ffd700;
}

/* haburger */

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  display: none;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger */

/* animation hamburger */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* end animation hamburger */

/* hero */

/* pengaturan header */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 30%;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}

.intro img {
  width: 60%;
}

/* end hero */

/* end navbar */

@media screen and (max-width: 768px) {
  nav {
    height: 50px;
  }

  .logo {
    width: 20%;
  }
  nav ul {
    display: 50%;
  }
}

@media screen and (max-width: 426px) {
  .logo {
    width: 40%;
  }
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 35vh;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #1d2351;
    margin-top: 50px;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav ul.slide {
    transform: translateX(0);
  }
}
